.btn-modern {
    transition-property: all;
    transition-duration: 0.4s;
}

.btn-modern:hover {
    box-shadow: 0px 0px 10px black;
    transform: translate(0, -5px);
    background-color: gray;
    color: white;
}
