body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.sidebar {
    padding: 10px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main {
    padding: 10px;
    background-color: coral;
    height: 300px;
}
@media (min-width: 640px) {
    .container {
        grid-template-columns: 1fr 4fr;
    }
    .sidebar {
        flex-direction: column;
    }
}
