@use 'variables' as v;

/** Media Queries **/
@mixin sm {
    @media (min-width: v.$sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: v.$md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: v.$lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: v.$xl) {
        @content;
    }
}

@mixin button {
    background-color: v.$primary;
    color: v.$white;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    width: 13.1rem;
    height: 3.7rem;
}

@mixin grid($columns, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin font($weight, $size, $lineHeight, $aling, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    text-align: $aling;
    color: $color;
}
