@use 'base/variables' as v;

h1,
h2 {
    margin: 0;
}
h1 {
    font-weight: 600;
    font-size: 62px;
}
h2 {
    font-size: 4rem;
}
.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: v.$black;
}
