@use 'base/variables' as v;
@use 'base/mixins' as m;

h1,
h2 {
    margin: 0;
}
h1 {
    font-weight: 600;
    font-size: 62px;
}
h2 {
    font-size: 4rem;
}
.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: v.$black;
}
[class$='__title'] {
    @include m.font(600, 3rem, 3.6rem, center, v.$black);
    margin-bottom: 1.5rem;
    @include m.lg {
        font-size: 4rem;
        line-height: 4.8rem;
    }
}

[class$='__subtitle'] {
    @include m.font(600, 1.8rem, 2.2rem, center, v.$bodyLarge);
    margin-bottom: 4rem;
    @include m.lg {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
